global
    log stdout format raw local0
    maxconn 256
    nbthread 1

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5s
    timeout client  30s
    timeout server  30s
    timeout http-request 10s

frontend in
    bind *:8080
    http-request set-var(txn.target) str("${TARGET_URL}"),regsub("/+\$","")
    http-request redirect prefix "%[var(txn.target)]" code 302
